<div class="position-sticky pt-3">
<ul class="nav flex-column">
<li class="nav-item">
<a class="nav-link" href="{{ path('app_admin_espacio_index')}}">
<span data-feather="file"></span>
Espacio
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ path('app_admin_categoria_index')}}">
<span data-feather="shopping-cart"></span>
Categorías
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ path('app_admin_entrada_index')}}">
<span data-feather="log-in"></span>
Entradas
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ path('app_admin_etiqueta_index')}}">
<span data-feather="tag"></span>
Etiquetas
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ path('app_admin_comentario_index')}}">
<span data-feather="message-square"></span>
Comentarios
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{ path('app_admin_usuario_index')}}">
<span data-feather="user"></span>
Usuarios
</a>
</li>
</ul>

</div>